{% extends "boilerplate.html" %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>sparkit - aplicativos web fora de série</title>

		<meta name="description" content="#FIXME" />
		<meta name="keywords" content="#FIXME" />
		<meta name="author" content="sparkit" />
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
				
		<!-- js -->
		<script src="{{ STATIC_URL }}js/jquery-1.4.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/jquery.animate.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}js/jquery.anchorScroll.js" type="text/javascript"></script>
		
		<!-- css -->
    		<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" type="text/css" media="screen" />

		<!-- font -->
		<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
		
		<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico">
  		<link rel="apple-touch-icon" href="{{STATIC_URL}}apple-touch-icon.png">
		
		<script type="text/javascript">
		  $(document).ready(function() {
			$(".link-ancora").anchorScroll();
			
			$(".voltar.fixo").hide();
			
			$(".voltar.fixo").click(function(){
				$(".voltar.fixo").hide();
			});
			
			$("#menu .link-ancora").click(function(){
				$(".voltar.fixo").show();
				return false; //Prevent the browser jump to the link anchor
			});
		  });
		 </script>

	</head>

	<body>
		<div id="all">
			<section id="home">
				<h2 id="logo">
					<a href="#home">sparkit - we ignite software</a>
				</h2>
				<div id="menu">
					<ul>
						<li><a class="link-ancora" href="#about">sobre</a></li>
						<li><a class="link-ancora" href="#services">serviços</a></li>
						<li><a class="link-ancora" href="#people">equipe</a></li>
						<li><a class="link-ancora" href="#contact">contato</a></li>
					</ul>
				</div>
				<a class="link-ancora voltar fixo" href="#home">voltar ao topo</a>
				<hgroup>
					<h1>A web como você nunca viu</h1>
					<h2><strong>SparkIT faz o seu negócio dar certo</strong>, resolvendo seus problemas digitais de maneira eficiente e inovadora. Você devia iniciar o seu produto ou serviço web conosco. Garantimos que você irá gostar de fazer um brainstorm conosco, ou <strong>seu dinheiro de volta</strong>.</h2>
				</hgroup>
			</section>
			<section id="about">
				<h2>sobre</h2>
 				<h3>Nós queremos fazer você e seus clientes felizes, para isso compreendemos o seu negócio e produzimos soluções tecnológicas que vão impulsioná-lo.</h3>

				<h4>Para apresentar soluções diferenciadas, buscamos compreender nossos clientes, seus ideais e tudo por trás de seu negócio. Além disso estamos sempre antenados tanto às últimas tendências do cenário tecnológico quanto do empreendedor.</h4>

				<h4>Possuímos experiência com desenvolvimento de complexos sistemas web-based nas mais diversas áreas em empresas dos mais diversos portes. Participamos ativamente da esfera tecnológica e de programação do Brasil, sempre buscando novas tecnologias, técnicas, boas práticas e casos de uso.</h4>

			</section>
			<!-- <section id="work">
				<h2>trabalho</h2>
				<div class="work-done">
					<img src="" />
					<h3>Meu Cereal</h3>
				</div>
				<div class="work-done">
					<img src="" />
					<h3>Mac Niterói</h3>
				</div>
			</section> -->
			<section id="services">
				<h2>serviços</h2>
				<h3>Desenvolvemos sistemas e produtos web que possibilitam a execução de grandes idéias e negócios.</h3>
				
				<h4><strong>Tecnologia</strong> - Somos fãs de software livre e usamos isso ao nosso favor. Enquadramos o seu projeto nas últimas tendências tecnológicas sempre respeitando boas práticas e os padrões de usabilidade e acessibilidade.</h4>

				<h4><strong>Negócios</strong> - Vivemos em um ambiente extremamente rico em idéias e possuímos excelentes contatos. Estudamos e aplicamos os melhores conceitos para desenvolvimento de negócios, e este know-how vai ajudar e muito o seu projeto. Se sua idéia for boa, somos os caras certos para impulsioná-la.</h4>
				
			</section>
			<section id="people">
				<h2>equipe</h2>
				<h3>Conheça o nosso incrível e super talentoso time, estamos prontos para fazer coisas maravilhosas para você.</h3>
				<a class="equipe" href="http://about.me/pedromarins">
					<div id="pedro"></div>
					<h3>Pedro Marins</h3>
					<p>front-end<span><span class="red">* * * *</span> *</span></p>
					<p>design<span><span class="red">* * *</span> * *</span></p>
					<p>people skills<span><span class="red full">* * * * *</span></span></p>
					<p>organização de eventos<span><span class="red">* * * *</span> *</span></p>
					<p>construções em lego<span><span class="red">* * *</span> * *</span></p>
				</a>
				<a class="equipe" href="http://about.me/victorfontes">
					<div id="victor"></div>
					<h3>Victor Fontes</h3>
					<p>desenvolvedor<span><span class="red full">* * * * *</span></span></p>
					<p>padrões de projeto<span><span class="red">* * * *</span> *</span></p>
					<p>sysadmin<span><span class="red">* * * *</span> *</span></p>
					<p>mestre cervejeiro <span><span class="red">* * *</span> * *</span></p>
					<p>rockstar frustrado <span><span class="red full">* * * * * </span></span></p>
				</a>
			</section>
			<section id="contact">
				<h2>contato</h2>
				<h3>Se você tiver qualquer pergunta ou quiser nos encontrar, você pode mandar um email para <a href="mailto:contato@sparkit.com.br">contato@sparkit.com.br</a> ou preencher o formulário abaixo:</h3>
				<div id="social">
					<ul>
						<a href="https://www.facebook.com/pages/SparkIT/126036997497012"><li id="facebook">facebook</li></a>
						<a href="http://twitter.com/_sparkit"><li id="twitter">twitter</li></a>
					</ul>
				</div>
				<div id="contact-methods">
					<form method=POST>
						{% csrf_token %}
						<ul>
							<li>
								<label>nome</label>
								<input type="text" name="nome"></input>
							</li>
							<li>
								<label>email</label>
								<input type="text" name="sender"></input>
							</li>
							<li>
								<label>mensagem</label>
								<textarea name="msg"></textarea>
							</li>
							<li>
								<input type="submit" value="Enviar" />
							</li>
						</ul>
					</form>
					<p>email <a href="mailto:contato@sparkit.com.br">contato@sparkit.com.br</a></p>
				</div>
			</section>
		</div>
    
<script>
	var _gaq=[['_setAccount','UA-25096853-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

    </body>
</html>
