html
  display: none

body

  font-family: 'DINProRegular'

#container
  margin: 0 auto
  width: 980px

/******************** header *******************

header #flame
  float: left

h1
  float: right

h2
  float: right
  text-align: right

h3
  font-family: 'DINProMedium'

/******************** main *******************

#main
  clear: both

#form, li, label

input
  &[type="text"], &[type="email"]

textarea, input[type="submit"], footer

/******************** footer *******************

/******************** @font-face *******************
/********** DINPRO *********
@font-face
  font-family: 'DINProRegular'
  src: url('../fonts/DINPRO/dinpro-regular-webfont.eot')
  src: url('../fonts/DINPRO/dinpro-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/DINPRO/dinpro-regular-webfont.woff') format("woff"), url('../fonts/DINPRO/dinpro-regular-webfont.ttf') format("truetype"), url('../fonts/DINPRO/dinpro-regular-webfont.svg#DINProRegular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'DINProMedium'
  src: url('../fonts/DINPRO/dinpro-medium-webfont.eot')
  src: url('../fonts/DINPRO/dinpro-medium-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/DINPRO/dinpro-medium-webfont.woff') format("woff"), url('../fonts/DINPRO/dinpro-medium-webfont.ttf') format("truetype"), url('../fonts/DINPRO/dinpro-medium-webfont.svg#DINProMedium') format("svg")
  font-weight: normal
  font-style: normal