html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}

body {
	background: url("../img/background.png");
    font-family: 'LeagueGothicRegular';
	color:#212121;
}

header {
    background: url("../img/header-bg.png");
    border-bottom: 4px solid #FF2121;
    height: 161px;
	text-align: center;
}

.content {
    margin: 0 auto;
	padding: 40px 0;
    width: 980px;
	text-align:center;
}

.line {
	margin: 0 auto;
}

h1 {
    font-size:100px;
}

.call-2 {
    display: block;
    font-size: 82px;
    color: #FF2121;
	line-height: 30px;
}


.call-3 {
	display: block;
    font-size:118px;
	line-height:120px;
	vertical-align:top;
}

.call-3 span {
	color: #FF2121;
	font-size: 160px; 
	line-height: 50px; 
	vertical-align: bottom;
}

.balao {
	background: url("../img/balao.png") no-repeat right;
	height: 131px;
	margin: 30px auto;
	width: 300px;
}

a {
	font-size:30px;
	text-decoration: none;
	color: #212121;
	display: inline-block;
	margin: 58px 0 0 25px;
}

a:hover {
	color: #FF2121;
}

.devices {
	display: block;
	margin: 0 auto 10px;
}

p {
	font-size: 25px;
	margin: 5px 0 0;
}

ul {
	list-style: none;
	margin: 40px 0 0;
}

li {
	background: url("../img/social-old.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 0 10px 0 0;
}

#facebook {
	background-position: 0 0;
}

#facebook:hover {
	background-position: -40px 0;
}

#twitter {
	background-position: 0 -40px;
}

#twitter:hover {
	background-position: -40px -40px;
}

#plus {
	background-position: 0px -80px;
}

#plus:hover {
	background-position: -40px -80px;
}

footer {
    background: url("../img/header-bg.png");
    border-top: 4px solid #FF2121;
	padding: 50px 0;
	text-align: center;
}
